@media(max-width:850px){

    .left-side .links{
        display: none;
        height: 100%;
        background-color: aqua;
    }
    .left-side .inicio {
        background-color: inherit;
        color: inherit;
        border-radius: 35px;
    
    }

    buttom .img-media{
        border: none;
    }

    .img-media{
        display:block;
    }

}

